[Unit]
Description=Chat service
After=network.target

[Service]
ExecStart=$NODE  $REPO/bot.js
WorkingDirectory=$REPO
StandardOutput=inherit
StandardError=inherit
Restart=always
User=$USER

[Install]
WantedBy=multi-user.target
