[Unit]
Description=Chat service
After=network.target

[Service]
ExecStart=/usr/bin/node  /home/pi/Documents/bottymcbotface/bot.js
WorkingDirectory=/home/pi/Documents/bottymcbotface
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
